.roadItem {
  width: 450px;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.textPart {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 350px;
  @media screen and (max-width: 1553px) {
    max-width: 360px;
  }
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 0px;
  .titlePart {
    position: relative;
    .title {
      font-size: 4rem;
      // color: var(--color-dark);
      font-family: skranji-bold;
      text-transform: capitalize;
      line-height: 1;
      margin-bottom: 20px;
      color: black;
      height: 50px;
      line-height: 1;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      @media screen and (max-width: 465px) {
        top: 50%;
      }
    }
  }

  .nestedUl {
    list-style-type: none;
    font-size: 2.4rem;
    line-height: 1.4;
    color: black;
    margin: 0;

    @media screen and (max-width: 1053px) {
      font-size: 2.3rem;
      color: black;
      margin-top: 10px;
    }
    padding: 0;
    li::before {
      padding-right: 0px;
      content: "-";
      color: black;
    }
  }
  .vLine {
    width: 3px;
    height: 100px;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: #7aaf22;
    margin: 3rem 0;
    position: absolute;
  }
}
