.parentUl {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  align-items: flex-start;
  text-align: left;

  .title {
    font-size: 5rem;
    color: var(--color-dark);
    font-family: skranji-bold;
    text-transform: capitalize;
    line-height: 6.8rem;
  }
  .nestedUl {
    list-style-type: none;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #000000a6;
    margin: 0;
    padding: 0;
    li::before {
      padding-right: 6px;
      content: "-";
    }
  }
  .vLine {
    width: 4px;
    height: 7.4rem;
    background-color: #7aaf22;
    margin: 3rem 0;
  }
}
