.home {
  overflow-x: hidden;
  .bannerSec {
    height: 900px;
    // height: calc(100vh - 90px);
    background-image: url("../../Assets/images/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 1024px) {
      height: calc(100vh - 100px);
    }
    @media screen and (max-width: 992px) {
      height: 500px;
    }
    @media screen and (max-width: 767px) {
      height: 300px;
    }
  }
  .header {
    .content {
      padding: 9.5rem 0;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      .title {
        font-size: 7rem;
        font-weight: 400;
        line-height: 8rem;
        font-family: skranji;
      }
    }
    .borderImgBox {
      background: linear-gradient(to bottom, #000, #ff6500);
      .bgImg {
        width: 100%;
      }
    }
  }
  .missonSec {
    background-color: var(--color-danger);
    overflow-x: hidden;
    .content {
      padding-top: 3.7rem;
      padding-bottom: 3.7rem;
      .title {
        margin-top: 6rem;
      }
      .util {
        margin-top: 6rem;
      }
    }
    .NFTDemo {
      display: flex;
      justify-content: space-between;
      margin: 40px 0px;
      flex-wrap: wrap;
      .nftbox {
        box-shadow: 0px 0px 10px 10px #ffb800;
        margin: 40px 0px;
        width: calc((100% / 4) - 15px);
        border: 5px solid #fff;
        @media screen and (max-width: 992px) {
          width: calc((100% / 2) - 15px);
        }
        @media screen and (max-width: 528px) {
          margin: 20px 0px;
        }
        img {
          width: -webkit-fill-available;
        }
      }
    }
    .borderImgBox {
      background: linear-gradient(to bottom, #ff6500, #fedac4);
      .bgImg {
        width: 100%;
      }
    }
  }
  .roadMapSec {
    overflow-x: hidden;
    background-color: var(--color-light);
    padding-top: 100px;
    position: relative;
    overflow-y: hidden;
    height: 1200px;
    @media screen and (max-width: 1054px) {
      height: auto;
    }

    & > p {
      font-size: 60px;
    }
    .leftCurve {
      background: #aec00c;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1200px;
      display: block;
      z-index: 20;
      clip-path: ellipse(84% 70% at 0% 89%);
      @media screen and (max-width: 1054px) {
        display: none;
      }
    }
    .rightCurve {
      z-index: 21;
      background: #8da513;
      width: 100%;
      display: block;
      clip-path: ellipse(100% 68% at 92% 90%);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 900px;
      @media screen and (max-width: 1054px) {
        display: none;
      }
    }
    .content {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
      margin-top: 50px;
      height: 100%;
      width: 100%;

      @media screen and (max-width: 1053px) {
        margin-top: 0px;
        padding-top: 4rem;
      }
      .title {
        font-size: 60px;
        margin-bottom: 1rem;
      }
      .subTitle {
        font-size: 40px;
        font-family: "skranji";
        text-align: center;
        color: #00000065;
        margin-bottom: 2rem;
      }
      .subTitle2 {
        font-size: 40px;
        font-family: "Port Lligat Slab";
        text-align: center;
        color: #000000;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
    }
    .map {
      width: 100%;
      position: absolute;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      right: 0;
      max-width: 1400px;
      z-index: 24;
      @media screen and (max-width: 1054px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        position: relative;
        row-gap: 50px;
        place-items: center;
        & > div {
          left: initial !important;
          top: initial !important;
          bottom: initial !important;
          right: initial !important;
        }
      }
      & > div:nth-of-type(1) {
        left: 10%;
        top: 30%;
      }
      & > div:nth-of-type(2) {
        left: initial;
        right: 5%;
        top: 60%;
        z-index: -1;
      }
      & > div:nth-of-type(3) {
        left: 10%;
        top: initial;
        bottom: 5%;
      }
      // & > div:nth-of-type(4) {
      //   left: initial;
      //   right: 0%;
      //   top: 44%;
      //   z-index: -1;
      // }
    }
    .roadMapBg {
      width: 100%;
    }
  }
  .teamSec {
    overflow-x: hidden;
    background-color: var(--color-shad);
    .content {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      .teamRow {
        justify-content: center;
        // padding: 4rem 0;
        .grid {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 5rem 0 0;
          // padding: 0 1rem;
        }
      }
    }
    .roadMapBg {
      width: 100%;
    }
    .borderImgBox {
      background: linear-gradient(to bottom, #2e112d, #ffb800);
      .teamBg {
        width: 100%;
      }
    }
  }
  .faqSec {
    overflow-x: hidden;
    background-color: var(--color-primary);
    .content {
      padding-top: 4rem;
      padding-bottom: 4rem;
      .title {
        color: var(--color-white);
      }
      .accordion {
        margin-top: 2rem;
      }
    }
    .borderImgBox {
      background: linear-gradient(to bottom, #ffb800, #fff);
      .faqBg {
        width: 100%;
      }
    }
  }
}
