.nftCard {
  width: 25%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .nftCard {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 428px) {
  .nftCard {
    width: 100%;
  }
}
.nftCard .content {
  padding: 1.4rem;
  background-color: var(--color-info);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 5px solid var(--color-primary-light);
}
.nftCard .content img {
  width: 100%;
}
.nftCard .content p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-dark);
  margin-top: 8px;
}

/*------------------------*/
/*       Utile Card       */
/*------------------------*/
.utilCard {
  justify-content: center;
}
.utilCard .content p {
  font-size: 2.4rem;
  color: var(--color-dark);
  position: relative;
  margin: 2rem 0;
  line-height: 36px;
}
.utilCard .content p span {
  font-weight: 700;
  margin-right: 1rem;
  font-family: skranji;
}

/*------------------------*/
/*       Utile Card       */
/*------------------------*/
.utilCardNew {
  display: flex;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
}
.utilCardNew .content {
  width: 100%;
}
.utilCardNew .content .body {
  width: 100%;
  padding-top: 70px;
  display: grid;
  padding-inline: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  overflow-x: hidden;
  gap: 40px;
  row-gap: 80px;
}
@media screen and (max-width: 1333px) {
  .utilCardNew .content .body {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 60px;
  }
}
@media screen and (max-width: 800px) {
  .utilCardNew .content .body {
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 60px;
  }
}
.utilCardNew .content .body .utilCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 5px solid #fff;
  padding: 20px 20px;
  text-align: center;
  background-color: var(--color-primary);
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 10px #ffb800;
  flex-direction: column;
}
.utilCardNew .content .body .utilCard img {
  margin-bottom: 20px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.utilCardNew .content .body .utilCard h2 {
  color: var(--color-dark);
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
}
.utilCardNew .content .body .utilCard p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-dark);
}
.utilCardNew .content .body .lastDiv {
  grid-row: 4/5;
  grid-column: 1/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  text-align: center;
  border: 5px solid #fff;
  background-color: var(--color-primary);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 10px #ffb800;
}
.utilCardNew .content .body .lastDiv img {
  margin-top: 15px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1333px) {
  .utilCardNew .content .body .lastDiv {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}
@media screen and (max-width: 800px) {
  .utilCardNew .content .body .lastDiv {
    grid-column: 1/2;
    grid-row: 10/11;
  }
}
.utilCardNew .content .body .lastDiv p {
  font-size: 20px;
}
.utilCardNew .content .body h3 {
  width: calc(100% + 7rem);
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #f66504 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2s linear infinite;
          animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
  font-family: skranji;
}
@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}/*# sourceMappingURL=style.module.css.map */